<div class="FoodList">
    <% if (Menu) { %>
        <% Menu.forEach((food) => { %>
            <% if(food.category != Category) return; %>
            <div class="Food">
                <img src="<%= food.image %>" alt="<%= food.name %>" class="Food__Image">
                <p class="Food__Name"><%= food.name %></p>
                <p class="Food__Price"><%= food.price %> руб.</p>
                <div class="Food__Manage-Quantity">
                    <button class="Food__Decrease-Quantity">-</button>
                    <p class="Food__Quatity">0</p>
                    <button class="Food__Increase-Quantity">+</button>
                </div>
                <button class="Food__Add-To-Shopcart-Button">Добавить в коризну</button>
            </div>
        <% }) %>
    <% } %>
</div>