<!DOCTYPE html>
<head>
    <title>Заказ еды</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/modal.css">
    <link rel="stylesheet" href="/foodlist.css">
</head>
<body>
    <div class="Menu">
        <%- include('Selection') %>
        <%- include('Shopcart') %>
    </div>
    <%- include('FoodList') %>
    <%- include('Modal') %>
    <script src="/addIds.js"></script>
    <!-- <script src="/modal.js"></script> -->
    <!-- <script src="/shopcart.js"></script> -->
</body>