<!DOCTYPE html>
<head>
    <title>Заказ еды</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="Menu">
        <%- include('Selection') %>
        <%- include('Shopcart') %>
    </div>
    <%- include('FoodList') %>
</body>