<div class="Selection">
    <p class="Selection__Selector"><a href="/">Всё</a></p>
    <p class="Selection__Selector"><a href="/sandwiches">Сэндвичи</a></p>
    <p class="Selection__Selector"><a href="/burgers">Бургеры</a></p>
    <p class="Selection__Selector"><a href="/salads">Салаты</a></p>
    <p class="Selection__Selector"><a href="/chicken">Курица</a></p>
    <p class="Selection__Selector"><a href="/pizza">Пицца</a></p>
    <p class="Selection__Selector"><a href="/shaurma">Шаурма</a></p>
    <p class="Selection__Selector"><a href="/drinks">Напитки</a></p>
</div>