<div class="Selection">
    <p class="Selection__Selector">Всё</p>
    <p class="Selection__Selector">Сэндвичи</p>
    <p class="Selection__Selector">Бургеры</p>
    <p class="Selection__Selector">Салаты</p>
    <p class="Selection__Selector">Курица</p>
    <p class="Selection__Selector">Пицца</p>
    <p class="Selection__Selector">Шаурма</p>
    <p class="Selection__Selector">Напитки</p>
</div>