<div class="Shopcart">
    <p class="Shopcart__Title">Корзина</p>
    <div class="Shopcart__List-Titles">
        <p class="Shopcart__Name-Title">Название:</p>
        <p class="Shopcart__Quantity-Title">Кол-во:</p>
    </div>
    <div class="Shopcart__List"></div>
    <p class="Shopcart__Total-Count">Всего: 0 руб.</p>
    <button class="Shopcart__Checkout-Button">Оформить заказ</button>
</div>