/* :root{
    --elementBorder: 5px solid purple
} */

body{
    display: flex;
    margin: 0;
    font-size: larger;
    height: 100vh;
    background-color: rgb(243, 242, 242);
}


.Menu{
    width: 15vw;
    /* border: var(--elementBorder); */
    padding: 3px;
    margin-right: 5px;
    display: flex;
    flex-flow: column;
}

.Selection{
    border: 5px black ridge;
    border-radius: 10px;
    margin: 5px;
    padding: 3px;
    display: flex;
    align-items: center;
    flex-flow: column;
    background-color: white;
}

.Selection__Selector{
    font-size: x-large;
    margin: 10px;
}

.Selection__Selector a{
    text-decoration: none;
    color: black;
}

.Selection__Selector a:hover{
    color: red;
}

.Shopcart{
    /* border: var(--elementBorder); */
    border-radius: 10px;
    margin: 5px;
    padding: 3px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: rgb(255, 238, 0);
    color: rgb(97, 97, 97);
    font-weight: bold;
}

.Shopcart__Title{
    color: white;
    margin: 10px;
    padding: 5px;
    font-size: 40px;
    background-color: rgb(255, 217, 0);
    width: 90%;
    border-radius: 5px;
    text-align: center;
}

.Shopcart__List-Titles{
    margin: 10px;
    display: flex;
    width: 100%;
    flex-flow: row;
    justify-content: space-between;
}

.Shopcart__Name-Title{
    float: left;
    margin: 10px;
}

.Shopcart__Quantity-Title{
    float: right;
    margin: 10px;
}

.Shopcart__List{
    margin: 10px;
}

.Shopcart__Total-Count{
    margin: 10px;
}

.Shopcart__Checkout-Button{
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: gray;
    color: white;
    border-radius: 5px;
}

.Shopcart__Checkout-Button:active{
    background-color: rgb(160, 160, 160);
}

